html,body{
    height: 100%;
    width: 100%;
}
.outer{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
}
.inner{
    border: 5px solid black;
}

.box1{
    background-image: url('1.images/1.jpeg');
    grid-column: 1/span 2;
}

.box2{
    background-image: url('1.images/2.jpeg');
}

.box3{
    background-image: url('1.images/3.jpeg');
}

.box4{
    background-image: url('1.images/4.jpeg');
}

.box5{
    background-image: url('1.images/5.jpeg');
}