.outer{
    border: 3px solid black;
    height: 370px;
    width: 370px;
}
.content{
    position: relative;
    top: 50px;
    left: 50px;
    background-color: rgb(211, 211, 24);
    height: 300px;
    width: 320px;
    border-radius: 20px;
    left: 10px;
    top: 20px;
    padding: 10px;
}

img{
    border-radius: 15px;
}

.outer:hover{
    opacity: 0.5;
}